<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.achievers">

    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18" />

    <application
        android:name=".AchieversApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor"
        android:allowBackup="true">

        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/SplashTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.achievements.AchievementsActivity" />
        <activity android:name=".ui.achievement.AchievementActivity" />
        <activity android:name=".ui.add_achievement.AddAchievementActivity" />
        <activity android:name=".ui.evidence.EvidenceActivity" />
        <activity android:name=".ui.add_evidence.AddEvidenceActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.achievers.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <provider
            android:name=".provider.AchieversProvider"
            android:authorities="com.achievers"
            android:exported="false"
            android:label="@string/app_name"
            android:syncable="true" />

        <service
            android:name=".sync.UploadAchievementIntentService"
            android:exported="false"/>
    </application>
</manifest>